In [205]:
# import the libraries
import numpy as np
import pandas as pd

In [206]:
data = pd.read_csv(r'C:\Users\Mairaj-PC\Downloads\netflix_data.csv')
data.tail()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,"October 19, 2020",2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,111,A scrappy but poor boy worms his way into a ty...,Dramas
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,44,"In this documentary, South African rapper Nast...",Documentaries
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,1,Dessert wizard Adriano Zumbo looks for the nex...,International TV
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,United Kingdom,"March 1, 2020",2019,90,This documentary delves into the mystique behi...,Documentaries

In [207]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   duration      7787 non-null   int64
 9   description   7787 non-null   object
 10  genre         7787 non-null   object
dtypes: int64(2), object(9)
memory usage: 669.3+ KB

### Question no. 1 : Create a new column in the provided dataset. Column name should be num_of_cast. The assignment was already explained in class. You have to append or add a column in the dataset which contains the total number of cast in that particular movie or Tv-Show.

In [221]:
data['cast'] = data['cast'].replace(np.nan, 'None')
data.tail()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,num_of_cast
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,"October 19, 2020",2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,7
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,8
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,44,"In this documentary, South African rapper Nast...",Documentaries,1
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,1,Dessert wizard Adriano Zumbo looks for the nex...,International TV,2
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,None,United Kingdom,"March 1, 2020",2019,90,This documentary delves into the mystique behi...,Documentaries,1

In [240]:
cast_length_list = []
for i in range(0,7787):
    if data.loc[i, 'cast'] == 'None':
        cast_length = 0
        cast_length_list.append(cast_length)
    else:
        cast_length = len(data.loc[i, 'cast'].split(', '))
        cast_length_list.append(cast_length)

In [241]:
cast_length_list

[11,
 6,
 9,
 9,
 12,
 10,
 8,
 5,
 9,
 8,
 7,
 12,
 0,
 1,
 7,
 13,
 10,
 7,
 8,
 3,
 8,
 8,
 8,
 6,
 12,
 0,
 0,
 2,
 2,
 7,
 0,
 8,
 8,
 12,
 8,
 0,
 8,
 10,
 4,
 9,
 10,
 10,
 15,
 15,
 11,
 10,
 9,
 8,
 10,
 6,
 9,
 6,
 0,
 3,
 10,
 7,
 0,
 6,
 4,
 6,
 9,
 6,
 6,
 13,
 28,
 6,
 0,
 2,
 12,
 8,
 0,
 10,
 10,
 9,
 10,
 8,
 5,
 8,
 6,
 14,
 8,
 16,
 6,
 5,
 11,
 1,
 3,
 13,
 11,
 7,
 8,
 10,
 8,
 5,
 11,
 4,
 10,
 7,
 9,
 4,
 8,
 0,
 10,
 9,
 8,
 10,
 10,
 12,
 15,
 7,
 1,
 7,
 12,
 9,
 8,
 10,
 8,
 9,
 9,
 7,
 6,
 10,
 11,
 8,
 8,
 9,
 12,
 11,
 9,
 7,
 0,
 13,
 8,
 5,
 0,
 10,
 10,
 0,
 1,
 1,
 1,
 38,
 1,
 8,
 12,
 10,
 0,
 10,
 9,
 9,
 3,
 9,
 7,
 14,
 9,
 6,
 10,
 7,
 8,
 4,
 15,
 14,
 11,
 15,
 8,
 8,
 9,
 9,
 7,
 1,
 8,
 9,
 8,
 11,
 15,
 6,
 8,
 10,
 10,
 11,
 7,
 1,
 0,
 10,
 9,
 8,
 10,
 9,
 8,
 1,
 8,
 6,
 5,
 0,
 0,
 0,
 11,
 13,
 5,
 10,
 0,
 10,
 7,
 11,
 9,
 11,
 9,
 0,
 0,
 13,
 10,
 7,
 6,
 0,
 11,
 8,
 1,
 7,
 2,
 12,
 8,
 8,
 12,
 0,
 11,
 7,
 12,
 5,
 9,
 10,
 5,
 7,
 12,
 9,
 8,
 4,
 10,
 0,
 16,
 6,
 8,
 8,
 6,
 10,
 5,
 10,
 5,
 12,
 11,
 11,
 7,
 8,
 0,
 9,
 9,
 15,
 1,
 6,
 9,
 17,
 11,
 10,
 12,
 8,
 9,
 6,
 8,
 8,
 8,
 6,
 5,
 10,
 11,
 6,
 4,
 6,
 7,
 13,
 8,
 8,
 1,
 0,
 8,
 8,
 3,
 8,
 9,
 10,
 8,
 1,
 9,
 8,
 6,
 7,
 6,
 6,
 11,
 8,
 12,
 9,
 10,
 9,
 8,
 7,
 10,
 1,
 3,
 1,
 5,
 7,
 1,
 0,
 1,
 11,
 4,
 8,
 10,
 10,
 7,
 0,
 1,
 1,
 26,
 11,
 8,
 0,
 0,
 0,
 0,
 15,
 12,
 12,
 10,
 8,
 8,
 1,
 4,
 7,
 0,
 10,
 8,
 7,
 8,
 10,
 1,
 10,
 9,
 2,
 4,
 4,
 1,
 5,
 12,
 7,
 6,
 10,
 10,
 6,
 9,
 0,
 9,
 8,
 2,
 9,
 3,
 6,
 5,
 5,
 7,
 10,
 1,
 0,
 10,
 8,
 9,
 1,
 1,
 10,
 1,
 10,
 8,
 11,
 8,
 1,
 5,
 8,
 1,
 1,
 8,
 8,
 0,
 8,
 10,
 16,
 9,
 1,
 5,
 8,
 0,
 5,
 10,
 0,
 8,
 18,
 20,
 12,
 12,
 7,
 15,
 10,
 4,
 11,
 6,
 11,
 0,
 10,
 8,
 9,
 10,
 8,
 10,
 10,
 9,
 9,
 6,
 10,
 3,
 8,
 0,
 11,
 8,
 11,
 9,
 7,
 3,
 0,
 2,
 11,
 7,
 7,
 10,
 10,
 0,
 11,
 9,
 10,
 8,
 5,
 6,
 0,
 1,
 1,
 1,
 1,
 10,
 10,
 0,
 13,
 14,
 3,
 0,
 1,
 0,
 4,
 10,
 8,
 11,
 5,
 40,
 1,
 0,
 11,
 10,
 12,
 4,
 11,
 12,
 1,
 5,
 10,
 8,
 2,
 1,
 1,
 0,
 10,
 9,
 10,
 14,
 8,
 8,
 13,
 10,
 9,
 7,
 5,
 3,
 10,
 10,
 11,
 8,
 6,
 4,
 5,
 1,
 3,
 6,
 9,
 10,
 8,
 8,
 1,
 1,
 14,
 11,
 9,
 18,
 8,
 8,
 9,
 11,
 10,
 13,
 5,
 10,
 7,
 8,
 1,
 14,
 9,
 6,
 1,
 5,
 0,
 2,
 1,
 10,
 8,
 11,
 7,
 12,
 10,
 4,
 10,
 10,
 9,
 14,
 4,
 6,
 1,
 1,
 1,
 7,
 8,
 0,
 10,
 0,
 0,
 9,
 5,
 9,
 1,
 5,
 10,
 10,
 12,
 8,
 9,
 2,
 1,
 6,
 10,
 7,
 4,
 1,
 16,
 3,
 1,
 1,
 1,
 3,
 8,
 7,
 10,
 17,
 1,
 9,
 10,
 44,
 10,
 6,
 10,
 8,
 8,
 8,
 5,
 3,
 3,
 6,
 9,
 4,
 10,
 10,
 8,
 9,
 5,
 4,
 2,
 7,
 8,
 9,
 0,
 9,
 10,
 10,
 8,
 18,
 1,
 10,
 8,
 0,
 9,
 9,
 1,
 0,
 9,
 11,
 10,
 8,
 9,
 5,
 9,
 7,
 11,
 10,
 28,
 1,
 7,
 6,
 1,
 7,
 9,
 7,
 9,
 9,
 0,
 6,
 11,
 1,
 1,
 1,
 17,
 9,
 8,
 10,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 10,
 10,
 8,
 11,
 0,
 8,
 2,
 5,
 10,
 11,
 0,
 6,
 10,
 8,
 6,
 12,
 8,
 0,
 4,
 10,
 6,
 8,
 9,
 0,
 10,
 10,
 10,
 12,
 10,
 10,
 8,
 11,
 12,
 4,
 9,
 6,
 8,
 5,
 9,
 0,
 14,
 0,
 6,
 2,
 21,
 8,
 10,
 10,
 10,
 13,
 10,
 8,
 14,
 13,
 9,
 3,
 8,
 6,
 11,
 6,
 13,
 14,
 10,
 8,
 7,
 6,
 6,
 5,
 11,
 0,
 7,
 9,
 5,
 12,
 10,
 5,
 14,
 10,
 11,
 10,
 10,
 18,
 8,
 10,
 10,
 1,
 9,
 8,
 7,
 14,
 9,
 8,
 9,
 7,
 8,
 12,
 0,
 4,
 8,
 7,
 1,
 10,
 6,
 9,
 8,
 0,
 0,
 8,
 6,
 9,
 7,
 11,
 1,
 9,
 6,
 6,
 2,
 0,
 16,
 0,
 5,
 23,
 9,
 5,
 5,
 10,
 9,
 5,
 7,
 11,
 25,
 11,
 8,
 8,
 9,
 8,
 1,
 0,
 7,
 32,
 10,
 8,
 8,
 15,
 7,
 1,
 5,
 0,
 0,
 1,
 0,
 10,
 11,
 6,
 1,
 2,
 9,
 9,
 2,
 6,
 10,
 4,
 9,
 10,
 8,
 8,
 7,
 1,
 9,
 0,
 11,
 9,
 7,
 3,
 8,
 10,
 9,
 5,
 9,
 0,
 11,
 14,
 11,
 1,
 1,
 1,
 3,
 6,
 3,
 33,
 12,
 5,
 10,
 10,
 1,
 7,
 12,
 1,
 9,
 19,
 4,
 5,
 6,
 11,
 8,
 6,
 7,
 6,
 6,
 8,
 10,
 1,
 9,
 20,
 0,
 8,
 8,
 6,
 10,
 10,
 8,
 8,
 8,
 8,
 8,
 8,
 0,
 5,
 10,
 8,
 8,
 10,
 12,
 12,
 7,
 4,
 10,
 8,
 10,
 1,
 11,
 10,
 10,
 8,
 17,
 1,
 10,
 1,
 6,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 6,
 5,
 7,
 16,
 10,
 1,
 4,
 7,
 8,
 4,
 10,
 0,
 10,
 11,
 12,
 6,
 7,
 15,
 4,
 7,
 6,
 8,
 9,
 10,
 12,
 11,
 10,
 20,
 5,
 5,
 8,
 0,
 50,
 5,
 15,
 16,
 10,
 10,
 8,
 10,
 6,
 13,
 10,
 0,
 1,
 9,
 10,
 11,
 10,
 7,
 10,
 8,
 10,
 6,
 8,
 11,
 0,
 9,
 11,
 7,
 5,
 19,
 10,
 6,
 17,
 7,
 8,
 16,
 11,
 10,
 0,
 23,
 13,
 11,
 3,
 11,
 ...]

In [242]:
data['num_of_cast'] = cast_length_list
data.tail()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre,num_of_cast
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...",Sweden,"October 19, 2020",2005,99,When Lebanon's Civil War deprives Zozo of his ...,Dramas,7
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,111,A scrappy but poor boy worms his way into a ty...,Dramas,8
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,44,"In this documentary, South African rapper Nast...",Documentaries,1
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,1,Dessert wizard Adriano Zumbo looks for the nex...,International TV,2
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,None,United Kingdom,"March 1, 2020",2019,90,This documentary delves into the mystique behi...,Documentaries,0

### Question no. 2 : In the provided dataset count how many number of tv-shows and movies of each genre are there using group by or whichever other method you see fit.

In [9]:
data.groupby('type')['genre'].value_counts()

type     genre
Movie    Dramas                  1384
         Comedies                1074
         Documentaries            751
         Action                   721
         Children                 502
         Stand-Up                 321
         Horror Movies            244
         International Movies     114
         Classic Movies            77
         Uncategorized             56
         Thrillers                 49
         Independent Movies        20
         Anime Features            19
         Music                     17
         Cult Movies               12
         Sci-Fi                    11
         Romantic Movies            3
         LGBTQ Movies               1
         Sports Movies              1
TV Show  International TV         690
         Crime TV                 369
         Kids                     359
         British TV               232
         Docuseries               194
         Anime Series             148
         TV Comedies              110
         Reality TV               102
         TV Dramas                 62
         TV Action                 37
         Stand-Up                  33
         Romantic TV               28
         Classic                   21
         TV Shows                  12
         TV Horror                 10
         Spanish-Language           2
         TV Sci                     1
Name: genre, dtype: int64